
Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

Exercise 3 - Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:
1. R language
2. python
3. ruby
4. julia

Exercise 10 - Insert a markdown cell to list Objectives

**Objectives:**
List popular languages for Data Science:
+ r lagnuage
+ python
+ ruby
+ scala

Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. numpy
3. dpylr

exercise 6 - Create a markdown cell with a table of Data Science tools

| data science tools |
|--------------------|
| Jupyter lab        |
| Mysql              |
| MongoDB            |

Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

Exercise 8 - Create a code cell to multiply and add numbers

In [6]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

Exercise 9 - Create a code cell to convert minutes to hours

In [12]:
#This will convert 200 minutes to hours by diving by 60.
min=200
hour = float(min/60)
print("200 mins means ",hour,"hour")

200 mins means  3.3333333333333335 hour


Exercise 11 - Create a markdown cell to indicate the Author's name

## author in h2 style heading 
   Rutuja Mankhair